<html>

<head>
<title>
  Первая страничка моя
</title>

<style>
  .dv_item {

      width:700px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px 1px;
      padding: 5px;
  }
  .item_name{
      font-family: Arial;
      font-weight: bold;
      font-size: 20pt;
      text-shadow: 2px 3px 5px rgba(122,122,122,0.5);
  }
  .item_price{
      font-family: Arial;
      font-weight: bold;
      font-size: 28pt;
      color: #5e0c0c;
  }

</style>

</head>


<body>

<!-- NEW -->
<div class="dv_item">
  <table width="100%">
    <tr>
      <td rowspan="3" width="200"><img src="adidas.png" width="200"/></td>
      <td align="center" class="item_name">Кросовки АДИДАС</td>
    </tr>
    <tr>
      <td align="center" class="item_price">340.00 руб</td>
    </tr>
    <tr>
      <td align="right"><a href="#">Купить</a></td>
    </tr>
  </table>
</div>

<div class="dv_item">
  <table width="100%">
    <tr>
      <td rowspan="3" width="200"><img src="abibas.jpg" width="200"/></td>
      <td align="center" class="item_name">Кросовки АБИБАС</td>
    </tr>
    <tr>
      <td align="center" class="item_price">340.00 руб</td>
    </tr>
    <tr>
      <td align="right"><a href="#">Купить</a></td>
    </tr>
  </table>
</div>

<div class="dv_item">
  <table width="100%">
    <tr>
      <td rowspan="3" width="200"><img src="nike.jpg" width="200"/></td>
      <td align="center" class="item_name">Кросовки НИКЕ</td>
    </tr>
    <tr>
      <td align="center" class="item_price">340.00 руб</td>
    </tr>
    <tr>
      <td align="right"><a href="#">Купить</a></td>
    </tr>
  </table>
</div>


</body>

</html>
