<html>
<head>
    <title>Title</title>
</head>
<body>
<table border="1">
        <tbody><tr>
            <td>Название</td>
            <td>Цена</td>
            <td>Изображение</td>
            <td>Действие</td>
        </tr>
        <tr>
            <td>Кроссовки АБИБАС</td>
            <td>10 000</td>
            <td><img src="abibas.jpg" width="300"></td>
            <td><a href="#">Купить</a></td>
        </tr>
        <tr>
            <td>Кроссовки АДИДАС</td>
            <td>100 000</td>
            <td><img src="adidas.jpg" width="300"></td>
            <td><a href="#">Купить</a></td>
        </tr>
        <tr>
            <td>Кроссовки Найк</td>
            <td>1 000 000</td>
            <td><img src="nike.jpg" width="300"></td>
            <td><a href="#">Купить</a></td>
        </tr>
    </tbody></table>
</body>
</html>